<template>
  <div class="chatPage">
    <el-dropdown id="memberDropBox">
      <el-button id="addUserToRoomBtn" class="el-dropdown-link" type="primary" @click="openAddUserBox">+</el-button>
      <el-dropdown-menu id="memberList" slot="dropdown">
        <el-dropdown-item 
          v-for="mem in memberList"
          :key="mem.id">
          {{ mem.username }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    
    <div id="messageList">
      <messageBox v-for="m in messageList"
                  :key="m.id"
                  :username="m.username"
                  :email="m.email"
                  :message="m.message">
                  </messageBox>
    </div>
    
    <div class="txtInputBox" id="messageInputBox">
      <el-input placeholder="say something..." v-model="inputTxt"></el-input>
      <el-button type="primary" class="normal_button" @click="SendMessage" :disabled="inputTxt === ''">Send</el-button>
    </div>

  </div>
</template>

<script>
import store from "../store";
import firebase from "../Firebase";
import messageBox from "../components/MessageBox"
import { setTimeout } from 'timers';

export default {
  data() {
    return {
      roomName: "",
      inputTxt: "",
      messageList: [],
      memberList: []
    }
  },
  components: {
    messageBox
  },
  methods: {
    SendMessage: function() {
      if(this.inputTxt !== '') {
        var user = firebase.auth().currentUser;
        var username = store.getters.getUsername;
        const newMessage = {
          username: username,
          userID: user.uid,
          userEmail: user.email,
          message: this.inputTxt,
          time: firebase.database.ServerValue.TIMESTAMP
        };
        firebase.database().ref(`/roomMessage/${store.getters.getRoomID}`).push(newMessage);
        firebase.database().ref(`/roomInfo/${store.getters.getRoomID}`).child('lastMessage').set(this.inputTxt);
        this.inputTxt = "";

        //scroll to bottom  
        setTimeout(function() {
          var messageList = document.getElementById("messageList");
          messageList.scrollTop = messageList.scrollHeight;
        }, 50);
      }
    },
    AddUserToRoom: function(email) {
      // search the user with email
      var roomID = store.getters.getRoomID;
      var roomName = this.roomName;
      var DB = firebase.database();
      var messageFunction = this.$message;
      DB.ref(`/userInfo`).orderByChild('userEmail').equalTo(email).on("child_added", snap => {
        // add memberID to "roomInfo->member"
        var newMemberID = snap.key;
        var newMemberEmail = snap.val().userEmail;
        DB.ref(`/roomInfo/${roomID}/member`).child(newMemberID).set(newMemberEmail);
      
        // add roomID to "userInfo->room"
        DB.ref(`/userRoom/${newMemberID}/${roomID}`).set(this.roomName);

        // alert
        messageFunction({
          type: 'success',
          message: `${newMemberEmail} is added to room ${roomName}!`
        })
      });
    },
    openAddUserBox: function() {
      // show up messagebox to ask for email
      this.$prompt('Enter the user\'s email', 'Add User To Room', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
        inputErrorMessage: 'Invalid Email',
      }).then(({ value }) => {
        this.AddUserToRoom(value);
      }).catch((e)=>{
        this.$message({
          type: 'info',
          message: "Input Canceled"
        });
      })
    }
  },
  mounted: function() {

    var roomID = store.getters.getRoomID;
    var DB = firebase.database();

    // get roomName
    DB.ref(`/roomInfo/${roomID}/roomName`).once("value", snap => {
      this.roomName = snap.val();
    });

    // get memberList
    DB.ref(`/roomInfo/${roomID}/member`).on("child_added", snap => {
      this.memberList.push({
        id: snap.key,
        username: snap.val()
      });
    });

    // Load all messages
    DB.ref(`/roomMessage/${roomID}`).orderByChild('time').on("child_added", (snap) => {
      const newMessage = {
        id: snap.key,
        username: snap.val().username,
        email: snap.val().userEmail,
        message: snap.val().message
      };
      this.messageList.push(newMessage);
    });

    setTimeout(function() {
      var messageList = document.getElementById("messageList");
      messageList.scrollTop = messageList.scrollHeight;
    }, 50);
  },
  beforeRouteLeave (to, from, next) {
    store.dispatch('setRoomID_Name', 0);
    next();
  }
}
</script>

<style lang="scss" scoped>

@import '../global_scss.scss';

#chatPage {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#messageList {
  height: 60vh;
  overflow-y: scroll; 
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

#messageInputBox {
  
}

#memberDropBox {
  position: fixed;
  top: 80px;
  left: 30px;
}

#addUserToRoomBtn {
  border-radius: 20px;
}

#memberList {
  top: 0
}

</style>

