<template>
  <div class="chooseRoom">
    <div class="txtInputBox">
      <el-input placeholder="Room Name" v-model="roomNameInput"></el-input>
      <el-button type="primary" @click="AddRoom" class="normal_button" :disabled="roomNameInput===''">Add Room</el-button>
    </div>
    <div id="roomList">
      <roomBox @click.native="ClickRoom(m.roomID)"
              v-for="m in messageList" 
              :key="m.roomID"
              :roomName="m.roomName"
              :lastMessage="m.lastMessage"
              ></roomBox>
    </div>
  </div>
</template>

<script>
import firebase from '../Firebase.js';
import roomBox from '../components/RoomBox'
import store from '../store'
import router from '../router';

export default {
  data(){
    return {
      roomNameInput: "",
      messageList: []
    }
  },
  components: {
    roomBox
  },
  methods: {
    AddRoom: function() {
    
      var DB = firebase.database();
      var member = firebase.auth().currentUser;

      // add new room to "roomInfo"
      var newRoom = {
        roomName: this.roomNameInput,
        lastMessage: "",
      };
      var newRoomRef = DB.ref('/roomInfo').push(newRoom);
      newRoomRef.child('member').child(member.uid).set(member.email);

      // add roomID to "userRoom" -> $uid 
      DB.ref(`/userRoom/${member.uid}`).child(newRoomRef.key).set(this.roomNameInput);

      // alert
      this.$message({
          type: 'success',
          message: `New room ${this.roomNameInput} added!`
        });
      this.roomNameInput = "";
    },
    ClickRoom: function(roomID) {
      store.dispatch('setRoomID_Name', roomID);
      router.push("/chat-page");
    }
  },
  mounted: function() {

    //Test
    var Auth = firebase.auth();
    if(Auth && Auth.currentUser) {
      var userID = firebase.auth().currentUser.uid;
      firebase.database().ref(`/userRoom/${userID}`).on("child_added", (snap) => {
        var roomID = snap.key;
        var roomName = snap.val();
        firebase.database().ref(`/roomInfo/${roomID}/lastMessage`).once("value", snap =>{
          var lastMessage = snap.val();
          this.messageList.push({
            roomID: roomID,
            roomName: roomName,
            lastMessage: lastMessage
          });
        });
      });
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../global_scss.scss';

  #roomList {
  height: 60vh;
  overflow-y: scroll; 
  display: flex;
  flex-direction: column;
}

</style>


