<template>
  <div class="home">
    <h1>A Simple Chat App Built for My Grade</h1>
    <h3>I've sold my soul to a devil</h3>
    <h5>whose name is GPA</h5>
    <h6>106062222</h6>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  components: {
  }
}
</script>

<style lang="scss" scoped>
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

