<template>
  <div class="chatPage">
    <div id="messageList">
      <messageBox v-for="m in messageList"
                  :key="m.id"
                  :username="m.username"
                  :email="m.email"
                  :message="m.message">
                  </messageBox>
    </div>
    
    <div class="txtInputBox" id="messageInputBox">
      <el-input placeholder="say something..." v-model="inputTxt"></el-input>
      <el-button type="primary" class="normal_button" @click="SendMessage" :disabled="inputTxt === ''">Send</el-button>
    </div>

  </div>
</template>

<script>
import store from "../store"
import firebase from "../Firebase";
import messageBox from "../components/MessageBox"
import { setTimeout } from 'timers';

export default {
  data() {
    return {
      inputTxt: "",
      messageList: [],
    }
  },
  components: {
    messageBox
  },
  methods: {
    SendMessage: function() {
      var user = firebase.auth().currentUser;
      var username = store.getters.getUsername;
      const newMessage = {
          username: username,
          userID: user.uid,
          userEmail: user.email,
          message: this.inputTxt,
          time: firebase.database.ServerValue.TIMESTAMP
      };
      firebase.database().ref(`/publicMessage`).push(newMessage);
      this.inputTxt = "";

      //scroll to bottom  
      setTimeout(function() {
        var messageList = document.getElementById("messageList");
        messageList.scrollTop = messageList.scrollHeight;
      }, 50);
    }
  },
  mounted: function() {

    var DB = firebase.database();

    // Load all messages
    DB.ref(`/publicMessage`).orderByChild('time').on("child_added", (snap) => {
      const newMessage = {
        id: snap.key,
        username: snap.val().username,
        email: snap.val().userEmail,
        message: snap.val().message
      };
      this.messageList.push(newMessage);
    });

    setTimeout(function() {
      var messageList = document.getElementById("messageList");
      messageList.scrollTop = messageList.scrollHeight;
    }, 50);
  }
}
</script>

<style lang="scss" scoped>

@import '../global_scss.scss';

#chatPage {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#messageList {
  height: 60vh;
  overflow-y: scroll; 
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

#messageInputBox {
  
}

#addUserToRoomBtn {
  position: fixed;
  top: 80px;
  left: 20px;
  border-radius: 20px;
}

</style>
