<template>
  <div id="signUp">
    <div class="txtInputBox">
      <span>username <br></span>
      <el-input placeholder="username" v-model="username"></el-input>
    </div>
    <div class="txtInputBox">
      <span>email <br></span>
      <el-input placeholder="email" v-model="email"></el-input>
    </div>
    <div class="txtInputBox">
      <span>password <br></span>
      <el-input placeholder="password" v-model="password" show-password></el-input>
    </div>
    <div class="container">
      <el-button type="primary" @click="SignUp" class="normal_button">Sign up</el-button>
      <el-button type="primary" @click="GoogleSignUp" class="normal_button">Sign up with Google</el-button>
    </div>
    <span id="lastLine">Already have an account?</span>
    <router-link to="/sign-in">Login</router-link>
  </div>
</template>

<script>
import firebase from '../Firebase.js';
import router from '../router';

export default {
  data(){
    return{
      username: "",
      email: "",
      password: ""
    }
  },
  methods: {
    SignUp: function() {
      var username = this.username;
      var email = this.email;
      var messageFunction = this.$message;
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
      .then(function() {
        // add new user to "userInfo"
        var userID = firebase.auth().currentUser.uid;
        var newUser = {
          username: username,
          userEmail: email
        };
        firebase.database().ref(`/userInfo`).child(userID).set(newUser);

        // alert and redirection
        messageFunction({
          type: 'success',
          message: "Sign up successfully!"
        });
        router.push('/choose-room');
        })
        .catch((error) => {
          messageFunction({
            type: 'error',
            message: error.message
          });
        });
    },
    GoogleSignUp: function() {
      var GoogleEnterUsername = this.GoogleEnterUsername;
      var messageFunction = this.$message;

      var provider =  new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider)
      .then(function() {
        GoogleEnterUsername();
      })
      .catch((e) => {
        messageFunction({
          type: 'error',
          message: e.message
        })     
      });
    },
    GoogleEnterUsername: function() {
      //enter username
      this.$prompt('Enter your username', 'Tip', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        inputPattern: /([^\s])/,
        inputErrorMessage: 'please enter your username!'

      }).then(({value}) => {
      // add new user to "userInfo"
        var user = firebase.auth().currentUser;
        var username = (value)? value : user.email;
        var newUser = {
          username: username,
          userEmail: user.email
        };
        firebase.database().ref(`/userInfo`).child(user.uid).set(newUser);
      // alert and redirect
        this.$message({
          type: 'success',
          message: `${username} signed up succesfully!`
        });
        router.push('/choose-room');

      }).catch(()=> {
        // add new user to "userInfo"
        var user = firebase.auth().currentUser;
        var newUser = {
          username: user.email,
          userEmail: user.email
        };
        firebase.database().ref(`/userInfo`).child(user.uid).set(newUser);

        // alert and redirect
        this.$message({
          type: 'success',
          message: `${user.email} signed up succesfully!`
        });
        router.push('/choose-room');
      })
    }
  },
  mounted: function() {
  }
}
</script>

<style lang="scss" scoped>

@import '../global_scss.scss';

#signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lastLine {
  margin-top: 5px;
}
</style>


