<template>
  <div id="signIn">
    <div class="txtInputBox" id="emailInput">
      <span>email <br></span>
      <el-input placeholder="email" v-model="email"></el-input>
    </div>
    <div class="txtInputBox" id="passwordInput">
      <span>password <br></span>
      <el-input placeholder="password" v-model="password" show-password></el-input>
    </div>
    <div class="container">
      <el-button type="primary" @click="SignIn" class="normal_button">Sign in</el-button>
      <el-button type="primary" @click="GoogleSignIn" class="normal_button">Sign in with Google</el-button>
    </div>
    <span id="lastLine">Don't have an account yet?</span>
    <router-link to="/sign-up">Register</router-link>
  </div>
</template>

<script>
import firebase from '../Firebase.js';
import router from '../router';

export default {
  data(){
    return{
      email: "",
      password: ""
    }
  },
  methods: {
    SignIn: function() {
      var ShowSignInNotification = this.ShowSignInNotification;
      var messageFunction = this.$message;
      firebase.auth().signInWithEmailAndPassword(this.email, this.password)
      .then(function() {
        ShowSignInNotification();
        messageFunction({
          type: 'success',
          message: `Sign in successfully!`
        });
        router.push('/choose-room');
      })
      .catch(function(error) {
        var errorMessage = error.message;
        messageFunction({
          type: 'error',
          message: errorMessage
        });
      });
    },
    GoogleSignIn: function() {
      var ShowSignInNotification = this.ShowSignInNotification;
      var provider =  new firebase.auth.GoogleAuthProvider();
      var messageFunction = this.$message;
      firebase.auth().signInWithPopup(provider)
      .then(function() {
        ShowSignInNotification();
        messageFunction({
          type: 'success',
          message: `Sign in successfully!`
        });
        router.push('/choose-room');
      })
      .catch(function(error) {
        var errorMessage = error.message;
        messageFunction({
          type: 'error',
          message: errorMessage
        });
      });
    },
    ShowSignInNotification: function() {
      if (!("Notification" in window)) {
        alert("This browser does not support system notifications");
      }
      // Let's check whether notification permissions have already been granted
      else if (Notification.permission === "granted") {
        // If it's okay let's create a notification
        var notification = new Notification("Logged in!");
      }
      // Otherwise, we need to ask the user for permission
      else if (Notification.permission !== 'denied') {
        Notification.requestPermission(function (permission) {
          // If the user accepts, let's create a notification
          if (permission === "granted") {
            var notification = new Notification("Logged in!");
          }
        });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../global_scss.scss';

#signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lastLine {
  margin-top: 5px;
}
</style>
