<template>
  <div id="app">
    <el-menu mode="horizontal" id="navbar" :router="true" :default-active="$route.path">
      <el-menu-item index="/"
        @click="GotoPage('/')">
        <i class="el-icon-s-home"
          v-show="!loggedIn"></i>
        <span v-show="loggedIn">
          {{ userEmail }}</span>
      </el-menu-item>
      <el-menu-item 
        index="/sign-in"
        v-show="!loggedIn">Login
      </el-menu-item>
      <el-menu-item 
        index="/public-room"
        v-show="loggedIn">Public Room
      </el-menu-item>
      <el-menu-item 
        index="/choose-room"
        v-show="loggedIn">My Rooms
      </el-menu-item>
      <el-menu-item 
        index="/chat-page"
        v-show="loggedIn && roomName">{{ roomName }}
      </el-menu-item>
      <el-menu-item 
        @click="SignOut" 
        v-show="loggedIn">Logout
      </el-menu-item>
    </el-menu>
    <div id="router-view">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import firebase from "./Firebase";
import store from "./store";
import router from './router';

export default {
  data() {
    return {
    }
  },
  methods: {
    GotoPage: function (page) {
      router.push(page);
    },
    SignOut: function() {
      firebase.auth().signOut().then(()=>{
        this.$message({
          type: 'success',
          message: `Logout sucessfully!`
        });
        router.push("/")
      });
    }
  },
  mounted: function() {

    firebase.auth().onAuthStateChanged(function(user) {
      if(user) {
        store.commit('setUserEmail', user.email);
        firebase.database().ref(`/userInfo/${user.uid}`).once("value", snap => {
          store.commit('setUsername', snap.val().username);
        });
      } 
      else {
        store.commit('setUserEmail', null);
        store.commit('setUsername', null);
      }
    });

    // Go back to home when page reloaded
    router.push('/');
  },
  computed: {
    userEmail: function() {
      return (store.getters.getUserEmail)? store.getters.getUserEmail : "not logged in";
    },
    loggedIn: function() {
      return (store.getters.getUserEmail)? true : false;
    },
    roomName: function() {
      return (store.getters.getRoomName)? store.getters.getRoomName : false;
    }
  }
}
</script>


<style lang="scss" scoped>
@import '../element-variables.scss';
@import './global_scss.scss';

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: $--color-primary-light-5
}

#router-view {
  margin-top: 18vh; 
  width: 85%;
}

</style>
