
$break-small: 500px;

* {
  box-sizing: border-box;
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

.container {
  width: 100%;
  margin-top: 20px;
}

.txtInputBox {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  .el-input {
    width: 100%;
  }
}

.normal_button {
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
  font-weight: 800
}