<template>
<div :class="{ 'messageBoxSelf': selfMessage, 'messageBoxOthers': !selfMessage}">
  <div class="card-head">
    <span>{{ username }}</span>
  </div>
  <div class="card-body">
    <span>{{ message }}</span>
  </div>
</div>
</template>

<script>
import firebase from "../Firebase";
export default {
  props: {
    username: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    },
    message: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      selfMessage: false
    }
  },
  mounted: function() {
      this.selfMessage = (this.email === firebase.auth().currentUser.email)? true : false;
  }
}
</script>

<style lang="scss" scoped>

  @import '../../element-variables.scss';
  @import '../global_scss.scss';

  @keyframes fadein {
    from { 
      opacity: 0; 
      top: 60px;
    }
    to { 
      opacity: 1; 
      top: 0;
    }
  }

  %animation_fadeIn {
    animation: fadein 0.8s ease-in-out;
  }

  %messageBox{
    @extend %animation_fadeIn;
    position: relative;
    border-radius: .5em;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    .card-head {
      margin-left: 5px;
      font-weight: 700;
    }
    .card-body {
      margin: 10px;
      margin-left: 15px;
      overflow-wrap: break-word;
    }
  }

  %messageBox-after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }

.messageBoxSelf {
  @extend %messageBox;
  background: $--color-primary-light-5;
  align-self: flex-end;
  color: #505050;
}

.messageBoxSelf:after {
  @extend %messageBox-after;
  border-left-color: $--color-primary-light-5;
  right: 0;
  border-right: 0;
  margin-right: -20px;
}

.messageBoxOthers {
  @extend %messageBox;
  background: $--color-primary-light-8;
  align-self: flex-start;
  color: #666666;
}

.messageBoxOthers:after {
  @extend %messageBox-after;
	border-right-color: $--color-primary-light-8;
  left: 0;
  border-left: 0;
  margin-left: -20px;
}
</style>

