<template>
<div class="roomBox">
  <div class="card-header">
    <span>{{ roomName }}</span><br>
  </div>
  <div class="card-body">
    <span>{{ lastMessage }}</span>
  </div>
</div>
</template>

<script>
export default {
  props: {
    roomName: {
      type: String,
      required: true
    },
    lastMessage: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>

  @import '../../element-variables.scss';
  @import '../global_scss.scss';

  @keyframes fadein {
    from { 
      opacity: 0; 
    }
    to { 
      opacity: 1; 
    }
  }

  %animation_fadeIn {
    animation: fadein 0.8s ease-in-out;
  }

  .roomBox{
    @extend %animation_fadeIn;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover{
      box-shadow: 5px 5px 3px $--color-primary-light-6;
    }

    .card-header {
      height: 30px;
      width: 100%;
      background-color: $--color-primary-light-4;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        font-weight: 800;
      }
    }

    .card-body {
      background-color: $--color-primary-light-8;
      height: 50px;
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }



</style>

